/* global styling  */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #ccc;
}

p {
  font-family: 'Langar', cursive;
  font-size: 1em;
}

button {
  padding: 9px 50px;
  background-color: rgba(0, 139, 196, .81);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-family: 'Dosis', sans-serif;
  font-size: 20px;
  color: #aaa;

}

button:hover {
  background-color: rgba(0, 139, 196, 1);
}

.responsive {
  width: 100%;
  height: auto;
}
/* section  {
  display: flex;
} */
/* end of global styling  */
/* sticky header/navbar styling */
header {
  font-family: 'Langar', cursive;
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 20px 0%;
  position: sticky;
  top: 0;
  background-color: #333;
}

#nav-bar {

}

header li, header a, header button {
    font-family: 'Dosis', sans-serif;
    text-decoration: none;
    color: #ccc;
    font-size: 20px;
    list-style-type: none;
  }

#logo {
  cursor: pointer;
  color: #999;
}

.nav-link {
  display: inline-block;
  justify-content: space-around;
}

.nav-link a {
  transition: all 0.3s ease 0s;
  padding: 0 3em;
}

.nav-link a:hover {
  color: #fff;
}
/* end of header/navbar styling */
/* showcase styling */
.showcase {
  color: #ccc;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: center; <---used 20% padding on .showcase h1 instead */
  text-align: center;
  background-color: #453;
  padding: 0 2em;
}

.showcase h1 {
  font-size: 3em;
  padding: 15% 0 1em 0;
  font-family: 'Permanent Marker', cursive;
      font-family: 'Cinzel', serif;
}

.showcase p {
  font-size: 20px;
  padding-bottom: 2.5em;
}
/* end of showcase styling */
/* about section styling */


.aboutUsContainer {
  padding: 1vh 1vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.bioCard {
  height: 50vh;
  border-radius: 5px;
  line-height: 2em;
  background: #ddd;
  padding: 1em;
  margin: 1em;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
  transition: .5s;
}



.bioCard {
  transform-style: preserve-3d;
  transition: all .5s ease;


}

.bioCard:hover {
  transform: translateY(-1vh);
  box-shadow: 0 15px 14px rgba(0,0,0,1.5);
}



div#karl {
  background-image: url(/images/karlBio.jpg);
  background-size: cover;
}

div#micah {
  background-image: url(/images/micahBio.jpg);
  background-size: cover;
}

div#hardy {
  background-image: url(/images/hardyBio.jpg);
  background-size: cover;
}

div#erling {
  opacity: .3;
  background-image: url(/images/erlingBio.jpg);
  background-size: cover;
}

div .wrapper:hover {
  opacity: 1;
}



/* end of about section styling */
/* bio card styling */
/* end of bio card styling */
/* programs styling */
#programs {
  text-align: center;
  padding: 30px;
  background-color: #453;
  height: auto;
  padding: 10vh;
}

.programsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.tenday, .twentyday, .thirtyday {
  border-radius: 5px;
  line-height: 2em;
  background: #ddd;
  padding: 1em;
  margin: 1em;
  box-shadow: 0 5px 4px rgba(0,0,0,.5);
  transition: .5s;
}

.tenday:hover, .twentyday:hover, .thirtyday:hover {
  background: #fff;
  transform: translate(0, -3px);
  box-shadow: 0 10px 4px 2px rgba(0,0,0,.5);
}

/* footer styling */

footer {
  height: auto;
  text-align: center;
  background-color: #333;
  color: #ccc;
}

.social-menu {

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-menu ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 2em;
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
}

.social-menu ul li {
  margin: 2em 2em;
}


.social-menu ul li .fab, .social-menu ul li .fas {
  font-size: 30px;
  line-height: 60px;
  color: #000;
}

.social-menu ul li:hover .fab, .social-menu ul li:hover .fas {
  color: #fff;
}

.social-menu ul li a {
  /* position: relative; */
  display: block;
  height: 60px;
  width: 60px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  transition: .3s;
  box-shadow: 0 6px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover {
  transform: translate(0, -10px);
  box-shadow: 0 16px 4px 2px rgba(0,0,0,.5);
}

.social-menu ul li:nth-child(1) a:hover {
  background-color: #3b5999;
}

.social-menu ul li:nth-child(2) a:hover {
  background-color: #e4405f;
}
.social-menu ul li:nth-child(3) a:hover {
  background-color: #cd201f;
}
.social-menu ul li:nth-child(4) a:hover {
  background-color: #55acee;
}
.social-menu ul li:nth-child(5) a:hover {
  background-color: #862FBD;
}
.social-menu ul li:nth-child(6) a:hover {
  background-color: #E95222;
}
